IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[xpGetDrugUnit]') AND type in (N'P', N'PC'))
DROP PROCEDURE [xpGetDrugUnit]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Clinic_Channel]') AND type in (N'U'))
DROP TABLE [Clinic_Channel]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Clinic_Frequency]') AND type in (N'U'))
DROP TABLE [Clinic_Frequency]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Clinic_Memo]') AND type in (N'U'))
DROP TABLE [Clinic_Memo]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__DATA_Pres__CostI__77FFC2B3]') AND type = 'D')
BEGIN
ALTER TABLE [Clinic_PrescriptionDetail] DROP CONSTRAINT [DF__DATA_Pres__CostI__77FFC2B3]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__DATA_Pres__Favor__4356F04A]') AND type = 'D')
BEGIN
ALTER TABLE [Clinic_PrescriptionDetail] DROP CONSTRAINT [DF__DATA_Pres__Favor__4356F04A]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Clinic_PrescriptionDetail]') AND type in (N'U'))
DROP TABLE [Clinic_PrescriptionDetail]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Clinic_PrescriptionList]') AND type in (N'U'))
DROP TABLE [Clinic_PrescriptionList]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Clinic_SetMealDetail]') AND type in (N'U'))
DROP TABLE [Clinic_SetMealDetail]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Clinic_SetMealList]') AND type in (N'U'))
DROP TABLE [Clinic_SetMealList]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ViewBaseData_Med]') AND type in (N'U'))
DROP TABLE [ViewBaseData_Med]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ViewBaseData_Med]') AND type in (N'U'))
BEGIN
CREATE TABLE [ViewBaseData_Med](
	[MatClass] [int] NULL,
	[ItemClass] [int] NULL,
	[StockID] [int] NULL,
	[CName] [varchar](500) NULL,
	[TName] [varchar](500) NULL,
	[Ename] [varchar](500) NULL,
	[Spec] [varchar](200) NULL,
	[PyCode] [varchar](100) NULL,
	[WbCode] [varchar](100) NULL,
	[CusCode] [varchar](100) NULL,
	[PyCodeT] [varchar](100) NULL,
	[WbCodeT] [varchar](100) NULL,
	[DeptID] [int] NULL,
	[Dosage] [decimal](18, 0) NULL,
	[DosUnit] [varchar](50) NULL,
	[MiniUnit] [varchar](50) NULL,
	[PackAmount] [decimal](18, 0) NULL,
	[PackUnit] [varchar](50) NULL,
	[ClinPrice] [decimal](18, 0) NULL,
	[WardPrice] [decimal](18, 0) NULL,
	[FacName] [varchar](500) NULL,
	[ActualQty] [int] NULL,
	[SkinMethod] [smallint] NULL,
	[RoundingMode] [smallint] NULL
) ON [PRIMARY]
END
GO
INSERT [ViewBaseData_Med] ([MatClass], [ItemClass], [StockID], [CName], [TName], [Ename], [Spec], [PyCode], [WbCode], [CusCode], [PyCodeT], [WbCodeT], [DeptID], [Dosage], [DosUnit], [MiniUnit], [PackAmount], [PackUnit], [ClinPrice], [WardPrice], [FacName], [ActualQty], [SkinMethod], [RoundingMode]) VALUES (1, 1, 100416, N'西咪替丁片', N'', N'', N'0.2g*100片', N'XMTDP', N'SKFST', N'', N'', N'', 200, CAST(1 AS Decimal(18, 0)), N'g', N'片', CAST(100 AS Decimal(18, 0)), N'盒', CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), N'待定', 1000, 0, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Clinic_SetMealList]') AND type in (N'U'))
BEGIN
CREATE TABLE [Clinic_SetMealList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[LevelValue] [tinyint] NOT NULL,
	[NodeName] [varchar](50) NOT NULL,
	[DeptCode] [varchar](10) NOT NULL,
	[StaffID] [smallint] NOT NULL,
	[PYCode] [varchar](10) NOT NULL,
	[WBCode] [varchar](10) NOT NULL,
	[SortOrder] [int] NULL
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Clinic_SetMealList] ON
INSERT [dbo].[Clinic_SetMealList] ([ID], [ParentID], [LevelValue], [NodeName], [DeptCode], [StaffID], [PYCode], [WBCode], [SortOrder]) VALUES (1, 0, 1, N'全院组套', N'', 0, N'', N' ', 0)
INSERT [dbo].[Clinic_SetMealList] ([ID], [ParentID], [LevelValue], [NodeName], [DeptCode], [StaffID], [PYCode], [WBCode], [SortOrder]) VALUES (2, 0, 2, N'科室组套', N'', 0, N' ', N' ', 0)
INSERT [dbo].[Clinic_SetMealList] ([ID], [ParentID], [LevelValue], [NodeName], [DeptCode], [StaffID], [PYCode], [WBCode], [SortOrder]) VALUES (3, 0, 3, N'个人组套', N'', 0, N' ', N' ', 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Clinic_SetMealList] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Clinic_SetMealDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [Clinic_SetMealDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ListID] [int] NOT NULL,
	[ListNo] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
	[OrderNum] [smallint] NOT NULL,
	[FeeID] [varchar](100) NOT NULL,
	[FeeName] [varchar](100) NOT NULL,
	[FeeClass] [tinyint] NOT NULL,
	[Dosage] [decimal](9, 4) NULL,
	[DosageUnit] [varchar](20) NOT NULL,
	[Amount] [decimal](9, 2) NOT NULL,
	[Unit] [varchar](20) NOT NULL,
	[FrequencyID] [smallint] NOT NULL,
	[ChannelID] [smallint] NOT NULL,
	[Days] [smallint] NOT NULL,
	[Memo] [varchar](255) NOT NULL
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Clinic_SetMealDetail] ON
INSERT [dbo].[Clinic_SetMealDetail] ([ID], [ListID], [ListNo], [GroupID], [OrderNum], [FeeID], [FeeName], [FeeClass], [Dosage], [DosageUnit], [Amount], [Unit], [FrequencyID], [ChannelID], [Days], [Memo]) VALUES (89, 112, 0, 2, 1, N'100180', N'盐酸利多卡因注射液', 1, CAST(5.0000 AS Decimal(9, 4)), N'ml', CAST(1.00 AS Decimal(9, 2)), N'支', 18, 16, 1, N'')
INSERT [dbo].[Clinic_SetMealDetail] ([ID], [ListID], [ListNo], [GroupID], [OrderNum], [FeeID], [FeeName], [FeeClass], [Dosage], [DosageUnit], [Amount], [Unit], [FrequencyID], [ChannelID], [Days], [Memo]) VALUES (97, 112, 0, 2555, 9, N'100142', N'维生素B1片', 1, CAST(0.1000 AS Decimal(9, 4)), N'g', CAST(3.00 AS Decimal(9, 2)), N'颗', 30, 166, 1, N'')
INSERT [dbo].[Clinic_SetMealDetail] ([ID], [ListID], [ListNo], [GroupID], [OrderNum], [FeeID], [FeeName], [FeeClass], [Dosage], [DosageUnit], [Amount], [Unit], [FrequencyID], [ChannelID], [Days], [Memo]) VALUES (100, 112, 0, 2560, 12, N'100430', N'六味地黄丸(浓缩丸)', 1, CAST(0.3000 AS Decimal(9, 4)), N'g', CAST(1.00 AS Decimal(9, 2)), N'瓶', 30, 166, 1, N'')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
SET IDENTITY_INSERT [dbo].[Clinic_SetMealDetail] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Clinic_PrescriptionList]') AND type in (N'U'))
BEGIN
CREATE TABLE [Clinic_PrescriptionList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[OrderClass] [tinyint] NOT NULL,
	[OrderTime] [datetime] NOT NULL
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [Clinic_PrescriptionList] ON
INSERT [Clinic_PrescriptionList] ([ID], [PatientID], [OrderClass], [OrderTime]) VALUES (1, 1, 1, CAST(0x0000A3DA00F2D7F8 AS DateTime))
SET IDENTITY_INSERT [Clinic_PrescriptionList] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Clinic_PrescriptionDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [Clinic_PrescriptionDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PrescriptionID] [int] NOT NULL,
	[ListNO] [tinyint] NOT NULL,
	[GroupID] [tinyint] NOT NULL,
	[FeeID] [int] NOT NULL,
	[FeeName] [varchar](50) NOT NULL,
	[Spec] [varchar](60) NOT NULL,
	[Dosage] [decimal](9, 4) NOT NULL,
	[DosageUnit] [varchar](20) NOT NULL,
	[Factor] [decimal](9, 4) NOT NULL,
	[ChannelID] [smallint] NOT NULL,
	[FrequencyID] [int] NOT NULL,
	[Num] [int] NOT NULL,
	[Amount] [decimal](9, 4) NOT NULL,
	[Unit] [varchar](20) NOT NULL,
	[Price] [decimal](9, 4) NOT NULL,
	[Days] [smallint] NOT NULL,
	[IsAst] [bit] NOT NULL,
	[AstResult] [varchar](1) NOT NULL,
	[IsTake] [bit] NOT NULL,
	[Memo] [varchar](255) NOT NULL,
	[IsCharged] [bit] NOT NULL,
	[IsCancel] [bit] NOT NULL,
	[IsSend] [bit] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[DeptCode] [varchar](20) NOT NULL,
	[CostID] [int] NULL CONSTRAINT [DF__DATA_Pres__CostI__77FFC2B3]  DEFAULT ((0)),
	[FavorFee] [decimal](18, 2) NOT NULL CONSTRAINT [DF__DATA_Pres__Favor__4356F04A]  DEFAULT ((0)),
	[PresAmount] [decimal](9, 4) NULL,
	[PresAmountUnit] [varchar](20) NULL,
	[PresFactor] [varchar](20) NULL
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [Clinic_PrescriptionDetail] ON
SET IDENTITY_INSERT [Clinic_PrescriptionDetail] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Clinic_Memo]') AND type in (N'U'))
BEGIN
CREATE TABLE [Clinic_Memo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DeptCode] [varchar](10) NOT NULL,
	[HelpCode] [varchar](10) NOT NULL,
	[MsgContent] [varchar](100) NOT NULL,
	[PYCode] [varchar](30) NOT NULL,
	[WBCode] [varchar](30) NOT NULL,
	[Uploader] [smallint] NOT NULL,
	[UploadTime] [smalldatetime] NOT NULL
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [Clinic_Memo] ON
INSERT [Clinic_Memo] ([ID], [DeptCode], [HelpCode], [MsgContent], [PYCode], [WBCode], [Uploader], [UploadTime]) VALUES (164, N'', N'', N'1粒，tid', N'L', N'OTID', 508, CAST(0xA3680232 AS SmallDateTime))
INSERT [Clinic_Memo] ([ID], [DeptCode], [HelpCode], [MsgContent], [PYCode], [WBCode], [Uploader], [UploadTime]) VALUES (165, N'', N'', N'1支，tid', N'Z', N'FTID', 508, CAST(0xA3680232 AS SmallDateTime))
INSERT [Clinic_Memo] ([ID], [DeptCode], [HelpCode], [MsgContent], [PYCode], [WBCode], [Uploader], [UploadTime]) VALUES (167, N'', N'', N'1粒，bid', N'L', N'OBID', 508, CAST(0xA3680232 AS SmallDateTime))
SET IDENTITY_INSERT [Clinic_Memo] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Clinic_Frequency]') AND type in (N'U'))
BEGIN
CREATE TABLE [Clinic_Frequency](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FrequencyName] [varchar](40) NOT NULL,
	[CName] [varchar](20) NOT NULL,
	[EName] [varchar](40) NOT NULL,
	[PYCode] [varchar](20) NOT NULL,
	[WBCode] [varchar](20) NOT NULL,
	[NumCode] [varchar](2) NOT NULL,
	[InputCode] [varchar](20) NOT NULL,
	[ExecuteCode] [varchar](100) NOT NULL,
	[DeleteFlag] [tinyint] NOT NULL,
	[OrderNum] [smallint] NULL
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [Clinic_Frequency] ON
INSERT [Clinic_Frequency] ([ID], [FrequencyName], [CName], [EName], [PYCode], [WBCode], [NumCode], [InputCode], [ExecuteCode], [DeleteFlag], [OrderNum]) VALUES (40, N'biw', N'每周两次', N'', N' ', N'W', N'0', N'bi', N'@D@4@15', 0, 0)
INSERT [Clinic_Frequency] ([ID], [FrequencyName], [CName], [EName], [PYCode], [WBCode], [NumCode], [InputCode], [ExecuteCode], [DeleteFlag], [OrderNum]) VALUES (1, N'a.c.', N'饭前', N'ante cibum(cibos)', N' ', N' ', N'11', N'ac', N'0100000@D@1@35', 0, 0)
INSERT [Clinic_Frequency] ([ID], [FrequencyName], [CName], [EName], [PYCode], [WBCode], [NumCode], [InputCode], [ExecuteCode], [DeleteFlag], [OrderNum]) VALUES (2, N'alt.h.', N'每隔1小时', N'alternis horis', N' ', N' ', N'2', N'al', N'0000000@D@1@2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46', 0, 0)
SET IDENTITY_INSERT [Clinic_Frequency] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Clinic_Channel]') AND type in (N'U'))
BEGIN
CREATE TABLE [Clinic_Channel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ChannelName] [varchar](100) NOT NULL,
	[CName] [varchar](100) NOT NULL,
	[EName] [varchar](100) NOT NULL,
	[OutUsed] [varchar](1) NOT NULL,
	[InUsed] [varchar](1) NOT NULL,
	[PYCode] [varchar](30) NOT NULL,
	[WBCode] [varchar](30) NOT NULL,
	[InputCode] [varchar](10) NULL,
	[UsageType] [tinyint] NOT NULL,
	[DeleteFlag] [tinyint] NOT NULL,
	[OrderNum] [smallint] NULL
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [Clinic_Channel] ON
INSERT [Clinic_Channel] ([ID], [ChannelName], [CName], [EName], [OutUsed], [InUsed], [PYCode], [WBCode], [InputCode], [UsageType], [DeleteFlag], [OrderNum]) VALUES (1, N'皮试', N'皮试', N'', N'Y', N'Y', N'PS', N'HY', N'ps', 1, 0, 99)
INSERT [Clinic_Channel] ([ID], [ChannelName], [CName], [EName], [OutUsed], [InUsed], [PYCode], [WBCode], [InputCode], [UsageType], [DeleteFlag], [OrderNum]) VALUES (3, N'外用', N'外用', N'', N'Y', N'Y', N'WY', N'QE', N'', 0, 0, 99)
INSERT [Clinic_Channel] ([ID], [ChannelName], [CName], [EName], [OutUsed], [InUsed], [PYCode], [WBCode], [InputCode], [UsageType], [DeleteFlag], [OrderNum]) VALUES (4, N'肌注', N'肌注', N'', N'N', N'N', N'JZ', N'EI', N'', 2, 1, 99)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [Clinic_Channel] OFF
